.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;
    margin: auto;
    padding: 0 4.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}   